name: Build

on: 
  # push:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }} / Python ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-22.04]
        # , windows-latest, macos-13, macos-14]
        python: ["3.10"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install build/test tools
        run: |
          python -m pip install --upgrade pip setuptools wheel build pytest

      - name: Build wheel
        # Using the standard PEP 517 build frontend
        run: |
          python -m build --wheel

      - name: List built artifacts
        run: ls -lah dist || true

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-py${{ matrix.python }}
          path: dist/*.whl


  build_sdist:
    name: Source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
         name: sdist
         path: dist/*.tar.gz
  

  publish_pypi:
    name: Publish PyPI
    needs:
      - build_wheels
      - build_sdist
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi
      url: https://test.pypi.org/project/cactis/
    permissions:
      id-token: write
    steps:
      - name: download all the dists
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true